.projectsContainer {
    /* padding: 2rem; */
    display: flex;
    gap: 2rem;
}

.sidebar {
    /* font-family: monospace; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.projectNav {
    display: flex;
    flex-direction: column;
    /* font-family: monospace; */
    font-size: 1rem;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(0.5rem);
    /* padding: 1rem; */
    border: 1px solid var(--foreground);
    border-radius: 0.5rem;
}

.projectNav a {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--foreground);
}

.projectNav a:last-of-type {
    border-bottom: 0;
}

.projectNav a:hover {
    background: rgba(255,255,255,0.4);
}

.mainContent {
    display: flex; 
    align-items: flex-end;
    gap: 2rem;
    width: 100%;
} 

.coreContent {
    padding: 4rem 3rem;
    background: rgba(255,255,255,0.8);
    color: var(--background);
    width: 40svw;
    max-height: 85svh;
    height: 100%;
    overflow-y: auto;
    aspect-ratio: 1/1.3;
    line-height: 1.4; 
    border-radius: 0.25rem;
}

.coreContent::selection {
    background: rgba(0,0,0,0.4);
}

.coreContent h1 {
    margin-bottom: 1.5rem;
    line-height: 1.1;
    letter-spacing: -0.03rem;
    font-weight: 600;
}

.coreContent p {
    margin-bottom: 1rem;
}

.coreImage {
    position: relative;
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 16/9;
}

.coreImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.extraContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35svw;
}

.videoCore {
    aspect-ratio: 16/9;
    padding: 1rem;
    background: rgba(255,255,255,0.8);
    border-radius:0.25rem;
    /* height: 100%; */
}

.videoCore iframe {
    height: 100%;
}

.audioCore p {
    padding-left: 1rem;
    margin-bottom: 0.5rem;
}

.audioCore audio::-webkit-media-controls-panel {
    
    background: rgba(255,255,255,0.4);
    color: #454545;
    font-family: var(--font-kode-mono);
    /* filter: invert(1); */
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel {
    border-radius: 0.25rem;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #454545;
    font-family: var(--font-kode-mono);
    text-shadow: unset;
}

audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button, audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
    filter: invert(1);
}


.contentLinks {
    display: block;
    padding: 1rem;
    background: rgba(255,255,255,0.4);
    max-width: max-content;

}

.contentLinks:hover {
    background: rgba(0,0,0,0.4);
}

.tags {
    /* font-weight: 600; */
    /* text-decoration: underline; */
    display: flex;
    gap: 1ch;
}
.tags p {
    text-decoration: underline;
}

.tags span {
    font-weight: 600;
    text-decoration: unset;
}


.cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.cardContent button {
    translate: rotate(90deg);
}

.projectCard {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
}


.cardContent {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
}

.projectCard:hover .cardContent{
    opacity: 1;
}