:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family-primary: 'Geist Mono', monospace;
  --font-family-secondary: 'Geist', sans-serif ;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fafafa;
  }
}


  ::-webkit-scrollbar{
	  scrollbar-width:thin;
    background: var(--background);
    padding: 0.5rem 0.25rem;
  }
  ::-webkit-scrollbar-thumb{
    background:var(--foreground);
  }


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem;
  /* padding-top: 4rem; */
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
