.corebg {
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
    min-height: 100svh;
    width: 100svw;
    overflow: hidden;
}
.main {
  position: relative;
  min-height: 100svh;
  width: 100svw;
  overflow: hidden;
}



.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.noise {
  position: absolute;
  content: "";
  height: 300%;
  width: 300%;
  left: -100%;
  top: -100%;
  z-index: 10;
  background-repeat: repeat;
  background-size: 5rem 5rem;
  pointer-events: none;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 20;
  background: radial-gradient(
    100% 100% at 25.57% 32.88%, 
    rgba(23, 23, 23, 1) 0%, 
    rgba(23, 23, 23, 0) 87.59%
  ),
  linear-gradient(
    128deg, 
    rgba(23, 23, 23, 1) 29.11%, 
    rgba(23, 23, 23, 0) 82.3%
  );
  pointer-events: none;
}

.canvas {
  position: absolute;
  inset: 0;
  width: 100svw;
  height: 100svh;
  display: block;
}