.voiceContainer {
    display: grid;
    grid-template-columns: 0.35fr 1fr;
    gap: 3rem;
    width: 100%;
    height: 100%;
}

.voiceContainer > main {
    width: 100%;
    max-height: 95svh;
}

.voiceContainer > aside {
    width: 100%;
    /* max-width: 25svw; */
    background: linear-gradient(to bottom, #EFEBDF, #B4B0A7) #E5E7EB;
    border-radius: 1.5rem;
    padding: 2rem;
    color: #454545;
    border: 1px solid #767676;
    font-family: var(--font-geist-sans);
}

.mediaWrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center center;
    /* aspect-ratio:16/9; */
    padding: 2rem;
    background: linear-gradient(to bottom, #EFEBDF, #B4B0A7) #E5E7EB;
    border: 1px solid #767676;
    border-radius: 1.5rem;
}

.mediaWrapper > div {
    display: flex;
    flex-direction: column;
    place-items: center center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 100%; */
}

.sidebar .voiceNav {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidebar h2 {
    font-weight: 200;
}
.sidebar p {
    font-weight: 300;
    opacity: 0.8;
}

.sidebar a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 1.5rem;
    font-family: var(--font-kode-mono);
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid rgba(69, 68, 68, 0.4);
    box-shadow: inset 0 1px 4px rgba(69, 68, 68, 0.4) ,inset 0 -1px 2px rgba(69, 68, 68, 0.4);
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.sidebar a:hover {
    box-shadow: inset 0 2px 4px rgba(69, 68, 68, 0.4) ,inset 0 -1px 1px rgba(69, 68, 68, 0.4);
    background: rgba(69, 68, 68, 0.1);
}

.sidebar a svg {
    height: 0.875rem;
}